
@model CarCenterWebApp.Models.DTOs.RepuestosDTO
@{
    ViewBag.Title = "Editar Repuestos";
}

<h2>@ViewBag.Title</h2>

<div class="row">
    <div class="col-md-12">
        <!-- Inicio del formulario de inserción
            Params(1->Action, 2->Controller, 3->Method, 4->Params)-->
        @using (Html.BeginForm("Edit", "Repuestos", FormMethod.Post, new { role = "form" }))
        {
            <!--Helper de seguridad para evitar invocaciones al form desde fuera de la app-->
            @Html.AntiForgeryToken()
            <!--Helper para mostrar mensajes de error producidos por DataAnnotations-->
            @Html.ValidationMessage("error", new { @class = "text-danger" })

            <!--Mostrar label para cada atributo, tal como se especificó en el Data Annotation-->
            @Html.LabelFor(d => d.Idrepuesto)
            @Html.TextBoxFor(d => d.Idrepuesto, new { @class = "form-control", @readonly = "readonly" })

            @Html.LabelFor(d => d.descmensaje)
            @Html.TextBoxFor(d => d.descmensaje, new { @class = "form-control", @readonly = "readonly" })

          
        
            <div style="text-align: right">
                <input type="submit" class="btn btn-success" value="Guardar" />
            </div>
        }
    </div>
</div>


