@model CarCenterWebApp.Models.DTOs.DominiosDTO
@{
    ViewBag.Title = "Agregar Dominio";
}

<h2>@ViewBag.Title</h2>

<div class="row">
    <div class="col-md-12">
        <!-- Inicio del formulario de inserción
        Params(1->Action, 2->Controller, 3->Method, 4->Params)-->
        @using (Html.BeginForm("Add", "Dominios", FormMethod.Post, new { role = "form" }))
        {            
            <!--Helper para mostrar mensajes de error producidos por DataAnnotations-->
            @Html.ValidationMessage("error", new { @class = "text-danger" })

            <!--Mostrar label para cada atributo, tal como se especificó en el Data Annotation-->
            @Html.LabelFor(d => d.TipoDominio)
            @Html.TextBoxFor(d => d.TipoDominio, new { @class = "form-control" })

            @Html.LabelFor(d => d.IdDominio)
            @Html.TextBoxFor(d => d.IdDominio, new { @class = "form-control" })

            @Html.LabelFor(d => d.VlrDominio)
            @Html.TextBoxFor(d => d.VlrDominio, new { @class = "form-control" })

            <br />
            <div style="text-align: right">
                <input type="submit" class="btn btn-success" value="Guardar" />
            </div>
        }
    </div>
</div>

